<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="generator" content="polly">
    <meta property="og:title" content="{{title}}">
    <meta property="og:url" content="{{canonical}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{image}}">
    <meta property="og:image:user_generated" content="true">
    <meta name="author" content="{{author}}">
    <title>{{title}}</title>
    <link rel="canonical" href="{{canonical}}">

    <link rel="icon" href="/poll_static/img/favicon.png">
    <link rel="apple-touch-icon" href="/poll_static/img/favicon.png">
    <link rel="stylesheet" href="/poll_static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="/poll_static/js/main.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
