
<article>
    <h1>{{title}}</h1>
    <div id="author">Created by <a href="{{authorSite}}" rel="nofollow">@{{author}}</a></div>
    <div id="status">
        {{#if clientCanVote}}
            (Open until: <span id="closing">{{closingDate}}</span>)
        {{else}}
            (<span>You successfully voted on this poll.</span>)
        {{/if}}
    </div>
    <div id="description">{{description}}</div>

    <form method="post">
        <fieldset>
            <!-- legend>Please select one:</legend -->
            <div class="options">
                {{#each options}}
                    {{#with this}}
                        <input type="radio" id="{{@key}}"
                               name="choice" value="{{@key}}">
                        <label for="{{@key}}">{{description}}</label><br>
                    {{/with}}
                {{/each}}
            </div>
            {{#if clientCanVote}}
                <div class="buttons">
                    <button type="submit" id="submit"></button>
                </div>
            {{/if}}
        </fieldset>
    </form>

    {{#unless clientCanVote}}
        <div id="thanks"></div>
    {{/unless}}
</article>

<script>
 document.addEventListener('DOMContentLoaded', function() {
     if (document.getElementById('closing')) {
         var closing = document.getElementById('closing').innerHTML;
         var temp = new Date(closing).toLocaleString();
         document.getElementById('closing').innerHTML = temp;
     }

     if (!("submitButtonText" in window))
         submitButtonText = "Vote";
     if (document.getElementById('submit')) {
         document.getElementById('submit').innerHTML = submitButtonText;
     }

     if ("thanksImage" in window && document.getElementById('thanks')) {
         document.getElementById('thanks').innerHTML =
         '<img src="' + thanksImage + '" />';
     }

     {{#unless clientCanVote}}
     var input = document.getElementsByTagName('input');
     for (i = 0; i < input.length; i++) {
         if (input[i].id === "{{{clientSessionChoice}}}")
             input[i].checked = true;
     }
     {{/unless}}
 }, false);
</script>
