
<article>
    <h1>{{title}}</h1>
    <div id="author">Created by <a href="{{authorSite}}" rel="nofollow">@{{author}}</a></div>
    {{#if pollClosed}}
        <div id="status">(<span>This poll is closed.</span>)</div>
    {{/if}}
    <div id="description">{{description}}</div>

    <div class="labels">
        {{#each options}}
            {{#with this}}
                {{description}}<br>
            {{/with}}
        {{/each}}
    </div>

    <div class="chart"></div>
</article>

<script>
 document.addEventListener('DOMContentLoaded', function() {
     var result = {{{toJSON result}}};
     var data = [];
     var maxVote = 0;
     for (k in result) {
         data.push(result[k]["votes"]);
         if (result[k]["votes"] > maxVote) maxVote = result[k]["votes"];
     }
     var w = 320 / maxVote;  // 320px at maximum
     if (!("barColors" in window))  // set default bar colors
         barColors = { "max": "steelblue", "avg": "steelblue" };

     chart = d3.select(".chart")
               .selectAll("div")
               .data(data)
               .enter()
               .append("div")
               .style("background-color", function(d) {
                   return d == maxVote ? barColors["max"] : barColors["avg"];
               })
               .style("width", function(d) { return d * w + "px"; })
               .text(function(d) { return d; });
 }, false);
</script>
