body {
  font-family: 'Cantarell', 'Ubuntu', 'Roboto', sans-serif, 'Source Han Sans';
  background-color: white;
}

article {
  position: absolute;
  width: 50%;
  left: 20%;
  padding: 5% 5% 0 5%;
  font-size: 28px;
}

h1 {
  text-align: center;
  font-variant: small-caps;
}

#author {
  padding-bottom: 1em;
  text-align: right;
  font-size: 14px;
}

#author a {
  color: steelblue;
  text-decoration: none;
}

#status {
  padding-bottom: 1em;
  text-align: center;
  font-size: 14px;
}

#status span {
  font-weight: bold;
}

#description {
  padding-bottom: .5em;
  line-height: 1.25em;
}



fieldset {
  border: none;
}

.buttons {
  padding-top: .5em;
  text-align: center;
}

.options {
  font-size: 28px;
  line-height: 56px;
}

.options label {
  display: inline-block;
  width: auto;
  padding-left: 32px;
  padding-right: 32px;
}

/*
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: relative;
  top: 4px;
  border-radius: 50%;
  width: 28px;
  height: 28px;

  border: 1px solid #777;
  transition: 0.25s all linear;
  outline: none;
}
input:checked {
  border: 8px solid black;
}
*/
[type="radio"] {
  position: absolute;
  clip: rect(0,0,0,0);
  clip: rect(0 0 0 0);
}
[type="radio"] + label {
  opacity: .8;
  color: black;
  transition: all .5s;
}
[type="radio"]:checked + label {
  opacity: 1;
  color: #dc143c;
  transition: all .5s;
}
[type="radio"] + label:hover {
  color: #dc143c;
  transition: all .5s;
}
[type="radio"] + label::before {
  content: '\f004\00a0\00a0';
  font-family: FontAwesome;
  opacity: .2;
  color: black;
  transition: all .5s;
}
[type="radio"]:checked + label:before {
  opacity: 1;
  color: #dc143c;
  transition: all .5s;
}

button {
  padding: 14px 28px;
  border-radius: 14px;
  border: 0;
  font-size: 14px;
  background-color: #dc143c;
  color: white;
  opacity: .8;
  transition: all .5s;
  cursor: pointer;
}
button:hover {
  opacity: 1;
  transition: all .5s;
}

#thanks {
  text-align: center;
}



.labels {
  float: left;
  padding: 8px;
  font-size: 28px;
  line-height: 56px;
  opacity: .8;
}

.chart {
  float: left;
}

.chart div {
  height: 32px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 16px;
  border-radius: 0 21px 21px 0;
  text-align: right;
  font-size: 28px;
  background-color: steelblue;
  color: white;
}
.chart div::after {
  content: "\00a0";
}
